[print]
enabled: True
logging: True

[tropo]
enabled: False
logging: True
token: <<Enter Tropo Token>>
phonenumber: <<Enter Phone Number for Paging>>

[spark]
enabled: False
logging: True
url: https://api.ciscospark.com
token: <<Enter Spark Token>>
room_id: <<Enter Room ID>

[wunderground]
api_key: <<Enter WeatherUnderground API Token>>
zipcode: 16066
compare_data: 95
logging: True
enabled: False

[simulatedsensor]
compare_data: 5
logging: False
enabled: True

[logging]
# DEBUG:10, INFO: 20, WARNING: 30, ERROR: 40, CRITICAL: 50, NOTSET: 0
log_level: 10
# Enable/disable logging to stdout
console: yes